<div id="aboutModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <div class="pure_table">
                    <div class="pure_row">
                        <div class="pure_cell aboutLogo">

                        </div>
                        <div class="pure_cell aboutText">
                            
                            <div>Бла-бла. Данный калькулятор был собран из разношерстных кусков чужих калькуляторов, форума, соплей, слёз и ненависти.</div>

                            <div>Можете слать ваши пожелания (и миллионы спонсорского бабла) на ники "Anon" и "Militrissa".</div>

                            <a class="dialogModalLink" href="http://stalkers-guild.ru/" target="_blank">
                                Гильдия Stalkers
                            </a>

                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <button id="aboutBtnCancel" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>