<div class="layer2">
    <table class="dialogTable collectionTable">
        <thead class="dialogTableHeader">
        <tr>
            <th class="dialogRow">
                <input type="checkbox" data-bind="checked: selectedAll, indeterminateValue: selectedAll() == null" />
            </th>
            <th class="dialogCenterHeader" colspan="2">Коллекционный предмет</th>
            <th class="dialogCenterHeader">Бонусы</th>
        </tr>
        </thead>
        <tbody data-bind="foreach: mainGrid.items">
        <tr>
            <td class="dialogRow">
                <input type="checkbox" data-bind="checked: active" />
            </td>
            <td>
                <div class="dialogItemImage" data-bind="style: {'background-image': 'url('+ image +')'}"></div>
            </td>
            <td class="dialogRow2" data-bind="text: name"></td>
            <td class="dialogRow2">
                <div data-bind="template: { name: 'BonusCollectionControl' }"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>