<div class="Equipment_Table" data-bind="style: {'background-image': 'url('+ characterImage() +'), url('+ $data.class().image +')'}">
    <div class="Equipment_row">

        <div class="Equipment_cell" data-bind="template: { name: 'EquipmentControl', data: getEquipment(1, 0) }"></div>
        <div class="Equipment_cell invisible"></div>
        <div class="Equipment_cell invisible"></div>
        <div class="Equipment_cell invisible"></div>
        <div class="Equipment_cell" data-bind="template: { name: 'EquipmentControl', data: getEquipment(14, 0) }"></div>
        <div class="Equipment_cell" data-bind="template: { name: 'EquipmentControl', data: getEquipment(13, 0) }"></div>
    </div>
    <div class="Equipment_row">
        <div class="Equipment_cell" data-bind="template: { name: 'EquipmentControl', data: getEquipment(2, 0) }"></div>
        <div class="Equipment_cell invisible"></div>
        <div class="Equipment_cell invisible"></div>
        <div class="Equipment_cell invisible"></div>
        <div class="Equipment_cell invisible"></div>
        <div class="Equipment_cell" data-bind="template: { name: 'EquipmentControl', data: getEquipment(12, 0) }"></div>
    </div>
    <div class="Equipment_row">
        <div class="Equipment_cell" data-bind="template: { name: 'EquipmentControl', data: getEquipment(3, 0) }"></div>
        <div class="Equipment_cell invisible"></div>
        <div class="Equipment_cell invisible"></div>
        <div class="Equipment_cell invisible"></div>
        <div class="Equipment_cell invisible"></div>
        <div class="Equipment_cell" data-bind="template: { name: 'EquipmentControl', data: getEquipment(11, 0) }"></div>
    </div>
    <div class="Equipment_row">
        <div class="Equipment_cell" data-bind="template: { name: 'EquipmentControl', data: getEquipment(4, 0) }"></div>
        <div class="Equipment_cell invisible"></div>
        <div class="Equipment_cell invisible"></div>
        <div class="Equipment_cell invisible"></div>
        <div class="Equipment_cell invisible"></div>
        <div class="Equipment_cell" data-bind="template: { name: 'EquipmentControl', data: getEquipment(11, 1) }"></div>
    </div>
    <div class="Equipment_row">
        <div class="Equipment_cell" data-bind="template: { name: 'EquipmentControl', data: getEquipment(5, 0) }"></div>
        <div class="Equipment_cell invisible"></div>
        <div class="Equipment_cell invisible"></div>
        <div class="Equipment_cell invisible"></div>
        <div class="Equipment_cell invisible"></div>
        <div class="Equipment_cell" data-bind="template: { name: 'EquipmentControl', data: getEquipment(10, 0) }"></div>
    </div>
    <div class="Equipment_row">
        <div class="Equipment_cell" data-bind="template: { name: 'EquipmentControl', data: getEquipment(6, 0) }"></div>
        <div class="Equipment_cell invisible"></div>
        <div class="Equipment_cell invisible"></div>
        <div class="Equipment_cell invisible"></div>
        <div class="Equipment_cell invisible"></div>
        <div class="Equipment_cell" data-bind="template: { name: 'EquipmentControl', data: getEquipment(9, 0) }"></div>
    </div>
    <div class="Equipment_row">
        <div class="Equipment_cell" data-bind="template: { name: 'EquipmentControl', data: getEquipment(21, 0) }"></div>
        <div class="Equipment_cell" data-bind="template: { name: 'EquipmentControl', data: getEquipment(22, 0) }"></div>
        <div class="Equipment_cell invisible"></div>
        <div class="Equipment_cell invisible"></div>
        <div class="Equipment_cell" data-bind="template: { name: 'EquipmentControl', data: getEquipment(15, 0) }"></div>
        <div class="Equipment_cell" data-bind="template: { name: 'EquipmentControl', data: getEquipment(7, 0) }"></div>
    </div>
</div>